doctype html
html(lang='')
  head
    title #{title}
    include ./partials/meta.jade
    include ./index/head.jade
    
body.fullbleed.layout.vertical(unresolved='')
  span#browser-sync-binding
  template#app(is='dom-bind')
    paper-drawer-panel#paperDrawerPanel
      // Drawer Scroll Header Panel
      paper-scroll-header-panel(drawer='', fixed='')
        // Drawer Toolbar
        paper-toolbar#drawerToolbar
          span.paper-font-title Menu
        // Drawer Content
        paper-menu.list(attr-for-selected='data-route', selected='[[route]]')
          a(data-route='home', href='/', on-click='onDataRouteClick')
            iron-icon(icon='home')
            span Home
          a(data-route='users', href='/users', on-click='onDataRouteClick')
            iron-icon(icon='info')
            span Users
          a(data-route='contact', href='/contact', on-click='onDataRouteClick')
            iron-icon(icon='mail')
            span Contact
      // Main Area
      paper-scroll-header-panel(main='', condenses='', keep-condensed-header='')
        // Main Toolbar
        paper-toolbar#mainToolbar.tall
          paper-icon-button#paperToggle(icon='menu', paper-drawer-toggle='')
          span.flex
          // Toolbar icons
          paper-icon-button(icon='refresh')
          paper-icon-button(icon='search')
          // Application name
          .middle.middle-container.center.horizontal.layout
            .app-name Full stack coffee-script + Polymer Starter Kit 
          // Application sub title
          .bottom.bottom-container.center.horizontal.layout
            .bottom-title.paper-font-subhead The future of the web today
        // Main Content
        .content
          iron-pages(attr-for-selected='data-route', selected='{{route}}')
            section(data-route='home')
              paper-material(elevation='1')
                p.paper-font-subhead You now have:
                my-list(list='{{myListItems}}')
                p.paper-font-body2
                  | Looking for more Web App layouts? Check out our 
                  a(href='https://github.com/PolymerElements/app-layout-templates') layouts
                  |  collection. You can also 
                  a(href='http://polymerelements.github.io/app-layout-templates/') preview
                  |  them live.
              paper-material(elevation='1')
                p.paper-font-body2 This is another card.
              paper-material.paper-font-body2(elevation='1')
                p ;)
            section(data-route='users')
              paper-material(elevation='1')
                h2.page-title Users
                p This is the users section
                a(href='/users/Rob') Rob
            section(data-route='user-info')
              paper-material(elevation='1')
                h2.page-title
                  | User:
                  span {{params.name}}
                div
                  | This is 
                  span {{params.name}}
                  | &apos;s section
            section(data-route='contact')
              paper-material(elevation='1')
                h2.page-title Contact
                p This is the contact section
    // Uncomment next block to enable Service Worker support (1/2)
    //
      <paper-toast id="caching-complete"
      duration="6000"
      text="Caching complete! This app will work offline.">
      </paper-toast>
      <platinum-sw-register auto-register
      clients-claim
      skip-waiting
      on-service-worker-installed="displayInstalledToast">
      <platinum-sw-cache default-cache-strategy="fastest"
      cache-config-file="cache-config.json">
      </platinum-sw-cache>
      </platinum-sw-register>
  // build:js javascripts/app.js
  script(src='javascripts/app.js')
  // endbuild
